
RewriteOptions inherit

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteCond %{HTTP_HOST} ^.*$
RewriteRule ^email$ "http\:\/\/ohiothetatau\.com\/webmail" [R=301,L]

